[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/ssps"]
	path = themes/ssps
	url = git@github.com:liuzheng/hugo-theme-ssps.git
